In [1]:
# text file with car Num as TS XX A-Z XXXX , # of seats , # of bags
import random
import string
file=open("cabdata.txt","w+")
file.write('CarNum,numofseats,numofbags,type,When\n')
typ=['SUV','Hatchback','Sedan']
whn=['Now','Later']
num=['one','two','three','four','five','six','seven','eight']
for i in range(500):
    
    file.write('TS '+str(random.randint(1,100))+" "+ random.choice(string.ascii_uppercase) + random.choice(string.ascii_uppercase) +" "+ str(random.randint(1,10))+ str(random.randint(1,10))+ str(random.randint(1,10))+ str(random.randint(1,10))+","+str(random.randint(2,8))+","+str(random.choice(num))+","+random.choice(typ)+","+random.choice(whn)+'\n')
    
file.close()

In [2]:
import pandas as pd
df=pd.read_csv("cabdata.txt")
df

              CarNum  numofseats numofbags       type   When
0      TS 68 GW 2231           2       one        SUV    Now
1    TS 34 NS 110108           3       two      Sedan    Now
2      TS 69 GR 6493           8       two  Hatchback  Later
3      TS 95 XJ 3873           5     seven      Sedan    Now
4      TS 80 OZ 9843           8       six  Hatchback    Now
5       TS 4 UO 9896           5      five        SUV    Now
6     TS 53 ZV 76610           4       six  Hatchback    Now
7       TS 6 LR 5475           8       one      Sedan  Later
8      TS 72 SV 9483           3     seven      Sedan    Now
9       TS 3 BV 6446           2       six  Hatchback    Now
10      TS 2 WX 7652           4     seven        SUV    Now
11     TS 94 DW 8744           6     seven        SUV    Now
12    TS 68 YQ 93106           8      five        SUV    Now
13     TS 23 VS 6886           7       one        SUV    Now
14     TS 19 RR 8381           5      five        SUV  Later
15     TS 51 RV 6763           7      four  Hatchback  Later
16     TS 37 BL 7969           6      four  Hatchback    Now
17     TS 10 YC 3728           8       one      Sedan  Later
18     TS 67 XA 3146           8     three  Hatchback    Now
19     TS 58 JG 6885           4     eight  Hatchback    Now
20     TS 1 ZJ 61017           4       two  Hatchback  Later
21    TS 52 NE 72103           5     eight  Hatchback  Later
22     TS 1 PH 13110           7      four      Sedan  Later
23     TS 89 IC 6465           2      five      Sedan  Later
24     TS 99 YK 7199           3     three        SUV    Now
25     TS 20 BB 5792           6      four  Hatchback  Later
26    TS 18 GN 10196           3     seven  Hatchback    Now
27     TS 49 IA 7631           5     three        SUV    Now
28     TS 33 NV 2311           6      five  Hatchback    Now
29    TS 17 NK 61104           6     seven      Sedan    Now
..               ...         ...       ...        ...    ...
470    TS 59 SH 8225           7       two  Hatchback    Now
471    TS 81 WM 9427           7     eight  Hatchback    Now
472    TS 98 LP 7636           8     three        SUV    Now
473    TS 69 VY 2552           8      four        SUV  Later
474  TS 25 BK 106910           7       two  Hatchback  Later
475    TS 50 DI 3711           8      four  Hatchback    Now
476    TS 85 UT 1578           4      four  Hatchback    Now
477    TS 72 FT 4618           7       two        SUV  Later
478   TS 45 PJ 54104           3     three  Hatchback    Now
479  TS 59 DE 741010           3     three      Sedan  Later
480   TS 40 WX 81109           8       six        SUV  Later
481    TS 35 PN 6535           4      four  Hatchback    Now
482    TS 29 ZH 8184           5      five      Sedan    Now
483    TS 68 LZ 1495           8      four        SUV    Now
484    TS 46 II 6851           4      five  Hatchback  Later
485    TS 85 CZ 1787           4       six      Sedan  Later
486    TS 53 QA 5374           2      five  Hatchback    Now
487    TS 19 JW 5856           3     seven  Hatchback  Later
488   TS 70 BO 71078           8      five      Sedan  Later
489    TS 84 KB 4767           6       one        SUV    Now
490   TS 83 TQ 81014           3       one  Hatchback  Later
491    TS 58 CI 5293           4     three      Sedan  Later
492   TS 65 GQ 21051           7       six        SUV    Now
493    TS 17 TV 6977           4     seven  Hatchback    Now
494    TS 29 YM 2954           5     eight        SUV    Now
495   TS 13 XA 81069           7     seven        SUV  Later
496   TS 55 HQ 47810           3     eight  Hatchback  Later
497     TS 3 CF 1564           2       two        SUV    Now
498    TS 2 BD 10878           5       six  Hatchback  Later
499    TS 2 RD 10416           2      five        SUV    Now

[500 rows x 5 columns]

In [6]:
x=df[(df['numofseats'] == 3) & (df['numofbags'] == 'seven') & (df['type']=='SUV')]
x=x.to_dict(orient='list')
x

C:\Users\Harsha\AppData\Local\Programs\Python\Python36-32\lib\site-packages\pandas\core\ops.py:816: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = getattr(x, name)(y)

TypeError: invalid type comparison

In [4]:
try:
    print(x['CarNum'][0])
except:
    print("No car")

TS 41 GO 3226

In [5]:
type(df['numofseats'][0])

numpy.int64